# shell snippets
snippet # sh shebang
	#!/usr/bin/env sh
	set -o errexit -o nounset -o xtrace

snippet # bash shebang
	#!/usr/bin/env bash
	set -o errtrace -o errexit -o nounset -o xtrace -o pipefail
